restwebservice-app/src/main/mule/restwebservice-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="21feec10-9830-4195-9a76-9c2c14409d5c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="623933d5-80dd-49f4-a093-de3d2ba0d0ab" basePath="/sqlrest/CUSTOMER/" >
		<http:request-connection host="www.thomas-bayer.com"/>
	</http:request-config>
	<flow name="restwebservice-appFlow" doc:id="baf1d714-8782-4498-bfeb-2dc0e126e5d7" >
		<http:listener doc:name="Listener" doc:id="5a26aa5a-55dd-4185-8365-f27482b27991" config-ref="HTTP_Listener_config" path="/customer/{id}"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="9103b521-a84c-494a-b733-840d515311b5" variableName="id"/>
		<http:request method="GET" doc:name="Request" doc:id="50831bbe-a22c-4225-81fd-dccb34f9f60c" config-ref="HTTP_Request_configuration" path="/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : vars.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="d0e2a4f9-8efa-4d7a-9403-b5f8584ef849" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
