employee-serv-impl-api/src/main/mule/deleteEmployeedataById.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">
	<flow name="deletetemployeeByIdFlow" doc:id="f5294fb7-a47e-4aa6-beb5-08bb726be805" >
		<http:listener doc:name="Listener" doc:id="9b6dfd7c-fa67-4168-9615-22a75c7f5421" path="/deletetEmp/{id}" config-ref="HTTP_Listener_config"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="52c67f20-3da5-49b6-91be-2abfb6bfd2e5" variableName="id"/>
		<db:delete doc:name="Delete" doc:id="4e400ff5-05cc-4f8d-b46a-f4fd9a6f5c3e" config-ref="Database_Config">
			<db:sql >DELETE FROM employee WHERE id=:id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	id:attributes.uriParams.id
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="d7a86085-1baa-4f46-b7da-697f2c79e8cc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message " :"Employee data deleted"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
