employee-serv-impl-api/src/main/mule/postemployeedatatodb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">
	<flow name="postemployeedataFlow" doc:id="f5294fb7-a47e-4aa6-beb5-08bb726be805" >
		<http:listener doc:name="Listener" doc:id="9b6dfd7c-fa67-4168-9615-22a75c7f5421" path="/insert" config-ref="HTTP_Listener_config"/>
		<db:insert doc:name="Insert" doc:id="edaf5a52-6305-4700-afe6-0a18a9395093" config-ref="Database_Config">
			<db:sql >INSERT INTO employee  (id, firstName, lastName, age, role) VALUES (:id, :firstName, :lastName,:age, :role) 

</db:sql>
			<db:input-parameters ><![CDATA[#[{id: payload.id,
  firstName: payload.firstName,
  lastName: payload.lastName,
  age: payload.age,
  role: payload.role
 }]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="a82f3c94-92d3-475a-88b7-4e9b54d1753f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"has been created"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
