JsontoXML/src/main/mule/acecss.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="acecssFlow" doc:id="5ea88d80-92f3-4e8e-a843-39be369829a3" >
		<http:listener doc:name="Listener" doc:id="a93b2cff-c9a7-4c89-b194-547c62f1bd8e" path="${http.path}" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="579b0ab3-bfe7-401b-aeb9-16ea88c574e7" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="b224ceca-4b86-40c1-8743-92b00ec332ae" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/XML
---
employee:payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="c3621dc9-d59a-4264-883a-6ce10344f1db" />
		<logger level="INFO" doc:name="Logger" doc:id="224cceac-f4d0-45eb-8040-64506d89085c" message="#[payload]"/>
	</flow>
</mule>
